/* App.css */
.layout {
  position: relative;
  height: 100vh;
  overflow: auto;
}

/* ... Keyframes definitions ... */

/* Ensure the return button is always above the welcome screen */
.return-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 200;
}

.hover-target-parent {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 1vh; /* Height of the hover target area */
  z-index: 200; /* Above other content but below the Welcome screen when visible */
}

.hover-target{
  width: 25%;
  height: 100%;
}