.ant-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

#header-tabs-app{
    order: 0;
    flex-grow: 1;
    text-align: center;
}

#header-tabs-about{
    order: 1;
    flex-grow: 1;
    text-align: center;
}

#header-tabs-switch{
    order: 2;
    flex-grow: 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}